body {
    font-family: 'Roboto Mono', monospace;
}

.navbar>.container-fluid {
    justify-content: space-around;
}

.navbar-brand {
    font-weight: 700;
    font-size: 40px;
}

.navbar-nav {
    flex-direction: row;
}